*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    font-family: 'Fredoka', sans-serif;
}

main{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

div.title-section>h1{
    padding-top: 2rem;
    color: #e53170;
    font-weight: bold;
}

div.subtitle-section p {
    margin: 2rem;
}

div.col{
    background-color:#0f0e17;
    /* width: calc(100% / 4) - 1rem; */
    height: 6rem;
    width: calc((100% / 3) - 2rem);
    box-shadow: grey 1px 1px 20px 1px;
    margin: 0 1rem 2rem 1rem;

   
}

.text-section{
    text-align: left;
    align-content: center;
    display: grid;
    height: 100%;
    padding-left: 15px;
    color: white;
}

div.text-section a{
   color:#69c5e9 ; 
}

div.text-section a:hover {
    color:#e53170 ; 
 }

div.text-section>p{
    padding: 0.2rem 0;
}

.float-left{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.img-section{
    height: 100%;
}
